---
Checks:          '*,-fuchsia-*,-google-*,-zircon-*,-abseil-*,-modernize-use-trailing-return-type,-llvm-*'
WarningsAsErrors: '1'
HeaderFilterRegex: ''
FormatStyle:     none
CheckOptions:
- key:             cppcoreguidelines-avoid-magic-numbers.IgnoreAllFloatingPointValues
  value:           1
- key:             readability-magic-numbers.IgnoreAllFloatingPointValues
  value:           1
